*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

html{
    font-size: 62.5%;
}

body{
	background-color: #ded5ca;
	height: 100vh;
	justify-content: space-between;
	display: grid;
}