.contenido__contacto{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
        .contacto__h1{
            @extend .h1;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-bottom: 20px;
        }
        .contacto__section{
            padding-bottom: 20px;
        }
}
