.contenido__secciones{
    .secciones__cards{
        background-color: #ded5ca;
        border-width: 3px;
        border-color: #975c26;
        padding: 10px;
    }
    .secciones__productos{
        color: #704518;
        font-weight: 700;
        line-height: 3.5rem;
        font-size: 2.5rem;
        padding: 5px;
    }
}